@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

Button:focus,.form-input:focus {
    outline: none
}

body {
    color: #262626;
    background-color: #fafafa;
    margin: 0;
    font-family: 'Segoe UI Regular', sans-serif;
    position: absolute;
    overflow-x: hidden;
}

main {
    display: flex;
    width: 100vw;

}

.header {
    position: fixed;
    display: flex;
    background-color: #ffffff;
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.search-bar {
    display: flex;
    cursor: text;
    width: 215px;
    height: 28px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background-color: #fafafa;
    justify-content: center;
}

.search-content {
    padding-bottom: 9px;
}

.search-text {
    font-size: 13px;
    color: #8e8e8e;
}

.pp-container {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.pp-container2 {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: 5px;
}

.nav-icon {
    position: absolute;
    display: flex;
    width: 198px;
    justify-content: space-between;
    left: 63.1822916667%;
    top: 13px;
}

.container {
    display: flex;
    margin: auto;

    flex-direction: column;

}

.skill-container {
    display: flex;
    padding-left: 20px;
    height: 98px;
    margin-bottom: 24px;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 16px;

    overflow-X: hidden;
    margin-top: -220px;
}

.skill {
    transform: translate(-2.3px, -3.85px);
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.circle-skill {
    z-index: 1;
    stroke-dasharray: 182px;
    stroke-dashoffset: 182px;
    transition: all linear 1.5s;
    stroke: #405DE6;
}

.skill circle {
    z-index: 1;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
    transform: translate(1.25px, 1.25px);
}

.circle-anim-xd {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 95) / 100);
}

.circle-anim-photoshop {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 50) / 100);
}

.circle-anim-indesign {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 60) / 100);
}

.circle-anim-illustrator {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 80) / 100);
}

.circle-anim-premiere {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 50) / 100);
}

.circle-anim-html {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 80) / 100);
}

.circle-anim-css {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 80) / 100);
}

.circle-anim-jquery {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 90) / 100);
}

.circle-anim-php {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 87) / 100);
}

.circle-anim-sql {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 90) / 100);
}

.circle-anim-anglais {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 70) / 100);
}

.circle-anim-espagnol {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 60) / 100);
}

.circle-anim-chinois {
    stroke-dasharray: 182px;
    stroke-dashoffset: calc(182 - (182 * 40) / 100);
}

.skill-pp {
    display: block;
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.skill-content {
    display: flex;
    width: 56px;
    margin-right: 25px;
    flex-direction: column;
    justify-content: center;
}

.skill-name {
    font-size: 12px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    line-height: 14px;
}

.button-next {
    position: relative;
    top: 12px;
    height: 45px;
    left: 550px;
    z-index: 100;
    cursor: pointer;
}

.button-previous {
    display: none;
    position: relative;
    height: 45px;
    top: 12px;
    left: -19px;
    z-index: 100;
    cursor: pointer;
}

.experience-container {
    padding-bottom: 80px;
}

.experience-header {
    padding: 16px;
    height: 60px;
    border-radius: 3px 3px 0 0;
}

.experience-footer {
    max-height: 261px;
    position: relative;
    top: -5px;
    border-radius: 0 0 3px 3px;
}

.skill-container,
.experience-header,
.experience-img,
.experience-footer,.form-container,.form-input {
    border: 1px solid #dbdbdb;
    width: 614px;
    background-color: white;
}

.experience-img {
    height: 614px;
    border-bottom: 0px;
    border-top: 0px
}

.experience-pp {
    position: relative;
    top: -4px;
    left: -4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.experience-header-content {
    position: relative;
    top: -14px;
    display: inline-block;
}

.experience-name {
    color: #262626;
    font-size: 14px;
    font-family: 'Segoe UI Regular Bold', sans-serif;
}

.experience-more {
    position: absolute;
    top: 10px;
    left: 522px;
}

.experience-icon-container {
    margin-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.experience-icon {
    background: 0 0;
    border: 0;
    padding: 8px;
    cursor: pointer;
}
.experience-comment-container {
    display: flex;
    margin-top: 4px;
    padding-left: 24px;
    font-size: 16px;
    padding-right: 16px;
    height: 55px;
    border-top: 1px solid #dbdbdb;
    align-items: center;
}
.experience-comment-text {
    color: #8e8e8e;
}
.experience-comment-post {
    cursor: pointer;
    color: #276D88;
    margin-left: 350px;
}
.icon-left {
    margin-left: 405px;
}
.like-container {
    display: flex;
    padding-left: 24px;
    padding-right: 16px;
    margin-bottom: 8px;
    align-items: center;
}
.experience-text-container {
    padding-left: 24px;
    padding-right: 16px;
    margin-bottom: 8px;
    vertical-align: baseline;
}
.experience-text {
    font-family: 'Segoe UI Regular', sans-serif;
    line-height: 14px;
    font-size: 14px;
}
.experience-date-container {
    padding-left: 24px;
    margin-bottom: 4px; 
}
.date-text {
    color:#8e8e8e;
    font-size: 10px;
    letter-spacing: .2px;
}
.footer-name-text {
    color: #262626;
    font-size: 14px;
    display: inline;
    font-family: 'Segoe UI Regular Bold', sans-serif;
}

.section-container {
    position: -webkit-sticky;
    position: sticky;
    width: 272px;
    height: 300px;
    top: 100px;
    margin-left: 644px;
}

a,
a:visited {
    text-decoration: none;
}

.name {
    color: #262626;
    font-size: 14px;
    display: block;
    font-family: 'Segoe UI Regular Bold', sans-serif;
    margin-bottom: 2px;
}

.job {
    display: block;
    margin: 0;
    font-size: 12px;
    color: #8e8e8e;
    font-weight: normal;
}

h2 {
    color: #8e8e8e;
    font-weight: normal;
}

.name-job-container {
    position: relative;
    top: -60px;
    left: 70px;
}

.interest-title {
    padding: 0px;
    font-size: 14px;
    margin: 0;
    position: relative;
    padding-top: 21px;
    margin-bottom: 21px;
    top: -43px;
}

.interest-pp {
    border-radius: 50%;
    width: 32px;
    margin-right: 6px;
    margin-bottom: 5px;
    height: 32px;
}

.interest-container {
    position: relative;
    top: -43px;
    display: flex;
    flex-direction: column;
}

.interest-content {
    display: inline-block;
    position: relative;
    top: -8px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 5px;
}

.interest {
    margin-bottom: 0;
}

.interest-subtitle {
    color: #8e8e8e;
    display: inline-block;
    margin-top: 2px;
    font-size: 12px;
}
.form-container {
    border-radius: 3px;
}
.form-header {
    height: 55px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-title {
    display: inline-block;
    font-weight: normal;
    margin: 0;
    font-size: 2rem;
}
.icon-write{
    position: relative;
    left: 230px;
}
.form-main {
    height: 614px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.form-footer {
    height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input {
    display: block;
    width: 522px;
    height: 44px;
    padding: 0px;
    border-radius: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding-left: 11px;
    padding-right: 8px;
    font-size: 14px;
}
.form-textarea {
    height: 325px;
    resize: none;
    padding-top: 11px;
}
.form-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 480px;
}
.header-profil {
    margin-bottom: 44px;
    display: flex;
    width: 935px;
}
.profil-pp-container {
    display: flex;
    margin-right: 77px;
    margin-left: 30px;
}
.profil-pp-content {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}
.profil-pp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name-info-me {
    font-size: 28px;
    color: #262626;
    margin-bottom: 20px;
    display: block;
}
.info-me-content {
    padding: 0;
    color: #262626;
    margin: 0px;
    list-style: none;
    font-size: 16px;
}
.info-me {
    margin-left:40px;
    color: #262626;
    float:  left;
    margin-bottom: 20px;
}
.info-me:first-child {
    margin: 0;
}
.info-me-job {
    color: #262626;
}
.info-me-text {
    position: absolute;
    top: 220px;
    left: 38.9%;
    width: 600px;
    display: block;
}
.border-formation {
    width: 935px;
    height: 53px;
    margin-top: 20px;
    border-top:1px solid #dbdbdb ;
}
.formation-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.formation-content {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 935px;
}
.formation-img-container {
    margin-left: 28px;
}
.formation-img {
    width: 293px;
    height: 293px;

}
.formation-img-container:first-child{
    margin-left: 0;
}
.formation-text {
    position: relative;
    top: 10px;
    left: 15px;
    margin-left: 15px;
    font-size: 14px;
    display: inline-block;
    width: 293px;
}