@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #EFF1ED;
    margin: 0;
    font-family: 'Segoe UI Regular', sans-serif;
    position: absolute;
    overflow-x: hidden;
}

main {
    display: flex;
    width: 100vw;
    /* border: red solid; */
}

.header {
    position: fixed;
    display: flex;
    background-color: #ffffff;
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #A5A294;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.search-bar {
    display: flex;
    cursor: text;
    width: 215px;
    height: 28px;
    border: 1px solid #A5A294;
    border-radius: 2px;
    background-color: #EFF1ED;
    justify-content: center;
}

.search-content {
    width: 78.25px;
    height: 14.23px;
    padding-bottom: 9px;
}

.search-text {
    font-size: 13px;
    color: #849597;
}

.pp-container {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.pp-container2 {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: 5px;
}

.nav-icon {
    position: absolute;
    display: flex;
    width: 201.9px;
    justify-content: space-between;
    left: 63.1822916667%;
    top: 13px;
}

.container {
    display: flex;
    margin: auto;

    flex-direction: column;

    /* border: blue solid; */
}

.skill-container {
    display: flex;
    padding-left: 20px;
    height: 98px;
    margin-bottom: 24px;
    border-radius: 3px;
    padding-top: 16px;
    padding-bottom: 16px;

    overflow-X: hidden;
    margin-top: -220px;
}

.skill-pp {
    display: block;
    height: 56px;
    width: 56px;
    margin-right: 25px;

    border-radius: 50%;
}

.skill-content {
    position: relative;
}
.button-next {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    top: 3%;
    left: 55.73%;
    z-index: 100;
    cursor: pointer;
}
.button-previous {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    top: 3%;
    left: 27.34%;
    z-index: 100;
    cursor: pointer;
}

.experience-container {
    padding-bottom: 80px;
}

.experience-header {
    height: 60px;
    border-radius: 3px 3px 0 0;
}

.experience-footer {
    height: 180px;
    border-radius: 0 0 3px 3px;
}

.skill-container,
.experience-header,
.experience-img,
.experience-footer {
    border: 1px solid #707070;
    width: 614px;
    background-color: white;
}

.experience-img {
    height: 600px;
    border-bottom: 0px;
    border-top: 0px;
}

.section-container {

        position: -webkit-sticky;
        position: sticky;
        /* display: inline-block; */
        width: 272px;
        height: 300px;
        top: 100px;
        margin-left: 644px;
    
        /* border: solid yellow; */
    
}

a,
a:visited {
    text-decoration: none;
}

.name {
    color: black;
    font-size: 14px;
    display: block;
    font-family: 'Segoe UI Regular Bold', sans-serif;
    margin-bottom: 2px;
}

.job {
    display: block;
    margin: 0;
    font-size: 12px;
    color: #849597;
    font-weight: normal;
}

h2 {
    color: #849597;
    font-weight: normal;
    flex-direction: row;
}

.name-job-container {
    position: relative;
    top: -60px;
    left: 70px;
}

.interest-title {
    padding: 0px;
    font-size: 14px;
    margin: 0;
    position: relative;
    padding-top: 21px;
    margin-bottom: 21px;
    top: -43px;
}

.interest-pp {
    background-color: blanchedalmond;
    border-radius: 50%;
    width: 32px;
    margin-bottom: 5px;
    height: 32px;
}

.interest-container {
    position: relative;
    top: -43px;
    display: flex;
    flex-direction: column;
}